<!DOCTYPE html>
<html lang="en">
<body>

   

    <h1>Photos</h1>
    <table border="1">
        <th>pID</th>
        <th> url </th>
        <th> poster </th>

    {% for photo in photos %}
        
        <tr>
            <td>{{photo.pID}}</td>
            <td><a href="/viewPhotos/{{photo.pID}}">{{photo.pID}}</a></td>
            <td>{{photo.poster}}</td>
        </tr>
           
       
    {% endfor %}
    </table>

    {% if message %}
        {{ message }}
    {% endif %}

    <br>

    <a href="/home">Go back</a>
    </body>
</html>


