<html>
<head>
</head>
<body>
    <h1>Customer Registration</h1>
<form action="/registerAuth" method="POST">
	<input type="text" name = "username" placeholder="username" required/> </br>
    <input type="text" name = "name" placeholder="Full Name" required/></br>
	<input type="text" name = "pwd" placeholder="password" required/></br>
    <input type="text" name = "first_name" placeholder="first_name" required/></br>
    <input type="text" name = "last_name" placeholder="last_name" required/></br>
    <input type="text" name = "addr" placeholder="address" required/></br>
    <input type="text" name = "phone_number" placeholder="phone_number" required/></br>
    <input type="text" name = "card_number" placeholder="card_number" required/></br>
	<input type="submit" value = Register />
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>

<a href="/">Go back</a>

</body>


</html>
